@charset "UTF-8";

@media screen and (max-width: 630px) {
    *{
        overflow-x: hidden;
    }
    header, nav {
        flex-flow: column nowrap;
    }

    header > h1 {
        flex-basis: 50px;
    }
    
    nav > a {
        width: 80vw;
    }
}