@font-face {
    font-family: android;
    src: url(img/fontes/idroid.otf) format(opentype);
}
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
    background-color: #84E1AD;
    font-weight: normal;
    font-family: 'Black Ops Sans';
    font-weight: lighter;
}
.android {
    font-family: android;
    background-image: linear-gradient(to right, #57e09591, #57e0951e);
    color: #1a5b37;
    padding: 5px;
}
#Andoid {
    font-family: android;
    color: #1a5b37;
    font-size: 2em;
    margin-top: -15px;
}
header {
    background-image: linear-gradient(to top, #1a5b37, #57e095);
    margin: -40px -10px;
    height: 200px;
}
#principal {
    text-align: center;
    color: #ffffff;
    text-shadow: 5px 5px 30px black;
    font: normal bold 3em "Black Ops One", system-ui;
    padding-top: 20px;
}
#subtitulo {
    text-align: center;
    color: rgba(255, 255, 255, 0.89);
    text-shadow: 5px 5px 20px black;
}
nav > ul > li > a{
    color: white;
    text-decoration: none;
    
}
nav > ul > li > a:hover{
    font-size: 20px;
    background-color: #57e09577;
    text-decoration: underline;
    
}
.lista {
    list-style: none;
    display: flex;
    gap: 15px;
}
main {
    background-color: #ffffff;
    padding: 25px;
    margin: 25px;
    margin-top: 40px;
    border-radius: 0px 0px 16px 16px;
}
.list{
    columns: 2;
    list-style-type: symbols();
}
.AD {
    color: #2f754e;
    font-weight: bold;
    text-decoration: none;
}
.AD:hover {
    font-size: 18px;
    color: #57e095;
}
.AD:visited {
    color: #21af61;
}
#dan-droids {
    display: flex;
    justify-content: center;
}
#irina {
    display: flex;
    justify-content: center;
}
#video {
    border: 40px, solid, #1a5c38;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(to top, white 1%, rgba(0, 0, 0, 0.514));
    
}
#video > iframe {
    max-width: 100%;
    width: 560px;
    height: 315px;
} 
#outro {
    background-color: #21af61;
    color: white;
    height: 45px;
    border-radius: 16px 16px 0px 0px;
    padding-left: 10px;
    padding-top: 20px;
}
#bugdroid {
    display: flex;
    justify-content: center;
}
#antrodape {
    background-color: #c5ebd6;
    border-radius: 16px;
    margin-top: 16px;
    padding: px;
    height: 320px;
}
footer {
    background-color: #1a5c38;
    color: white;
    height: 30px;
    margin: -10px -20px;
    padding-top: 10px;
    text-align: center;
}
