/*Estilo para telas*/

@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #FFF;
    padding: 0px 0;
    text-align: center;
}
header > h1 {
    font-size: 4rem;
    padding: 10px 0;
}
menu {
    background-color: black;
    height: 30px;
    margin: 0px;
    height: 5vh;
}
menu ul {
    list-style-type: none;
    padding-top: 10px;
}
menu > ul > li {
    display: inline;
    margin-left: 15px;
    font-size: 1.2rem;
}
main {
    max-width: 800px;
    min-width: 320px;
    background-color: rgba(128, 128, 128, 0.5);
    margin: auto;
}
article {
    padding: 20px;
    font: normal normal 1.2em "Arial", sans-serif;
    line-height: 1.8em;
}
article > h2 {
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
}
article > p {
    padding: 16px;
    text-indent: 16px;
    text-align: justify;
}